/* You can add global styles to this file, and also import other style files */
body {
	background-color: #f7f7f7;
}

.nav-tabs .nav-link {
	font-weight: 500;
}

.tab-content {
	background: white;
	border: 1px solid #dee2e6;
}
